{% extends "global/Page.html" %}
{% load otree static %}


{% block title %}

{% endblock %}

{%  block script %}
    <script>
    function popout_party_belonging(){
    var ch_SPD = document.getElementById("check_spd")
    var ch_cdu = document.getElementById("check_cdu")
    var ch_grüne = document.getElementById("check_grüne")
    var ch_fdp = document.getElementById("check_fdp")
    var ch_afd = document.getElementById("check_afd")
    var ch_linke = document.getElementById("check_linke")
    var ch_no = document.getElementById("check_no")
    var ch_others = document.getElementById("check_others")

    var part_bel = document.getElementById("party belonging")

    if (ch_SPD.checked == true | ch_cdu.checked == true || ch_grüne.checked == true || ch_fdp.checked == true ||
        ch_afd.checked == true || ch_linke.checked == true) {
        part_bel.style.display = "block"

    }
    else{
        part_bel.style.display ="none"
    }

    }


    </script>
{%  endblock %}

{% block scripts %}
<script src="{% static 'persist-raw.js' %}"></script>
{% endblock %}

{% block content %}
<p style="text-align:right;"><b>*Pflichtfelder</b></p>

<hr>
<p><b>Im Folgenden stellen wir Ihnen ein paar Fragen hinsichtlich ihrer ideologischen Präferenzen:</b></p>

<br>
<div class="mb-3 bg-light border pt-2 pb-2 px-2 ">
    <fieldset>
        <div class="table">
            <table class="table"> <p><b>In der Politik wird gelegentlich von "links" und "rechts" gesprochen.
                Wo würden Sie sich auf dieser Skala einordnen, wobei 0 links und 11 rechts bedeutet?*</b></p>
                <tbody>
                    <tr>
                        <th style="width: 8%">Links <br>0</th>
                        <th style="width: 8%"><br>1</th>
                        <th style="width: 8%"><br>2</th>
                        <th style="width: 8%"><br>3</th>
                        <th style="width: 8%"><br>4</th>
                        <th style="width: 8%"><br>5</th>
                        <th style="width: 8%"><br>6</th>
                        <th style="width: 8%"><br>7</th>
                        <th style="width: 8%"><br>8</th>
                        <th style="width: 8%"><br>9</th>
                        <th style="width: 8%"><br>10</th>
                        <th style="width: 8%">Rechts<br>11</th>
                    </tr>
                    <tr>
                        <th><input class="persist" type="radio" name="ba_positioning" value="0"></th>
                        <th><input class="persist" type="radio" name="ba_positioning" value="1"></th>
                        <th><input class="persist" type="radio" name="ba_positioning" value="2"></th>
                        <th><input class="persist" type="radio" name="ba_positioning" value="3"></th>
                        <th><input class="persist" type="radio" name="ba_positioning" value="4"></th>
                        <th><input class="persist" type="radio" name="ba_positioning" value="5"></th>
                        <th><input class="persist" type="radio" name="ba_positioning" value="6"></th>
                        <th><input class="persist" type="radio" name="ba_positioning" value="7"></th>
                        <th><input class="persist" type="radio" name="ba_positioning" value="8"></th>
                        <th><input class="persist" type="radio" name="ba_positioning" value="9"></th>
                        <th><input class="persist" type="radio" name="ba_positioning" value="10"></th>
                        <th><input class="persist" type="radio" name="ba_positioning" value="11"></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
</div>

<br>
<p><b>Wenn am Sonntag Bundestagswahl wäre, welche Partei würden Sie wählen?*</b></p>
<input id = "check_spd" type="radio" name="ba_party" value="1" onclick="popout_party_belonging()" /> SPD
<br>
<input id = "check_cdu" type="radio" name="ba_party" value="2" onclick="popout_party_belonging()"/> CDU
<br>
<input id = "check_grüne" type="radio" name="ba_party" value="3" onclick="popout_party_belonging()"/> Bündnis 90/ Die Grünen
<br>
<input id = "check_fdp" type="radio" name="ba_party" value="4" onclick="popout_party_belonging()" /> FDP
<br>
<input id = "check_afd" type="radio" name="ba_party" value="5" onclick="popout_party_belonging()" /> AfD
<br>
<input id = "check_linke" type="radio" name="ba_party" value="6"  onclick="popout_party_belonging()"/> Linke
<br>
<input id = "check_no" type="radio" name="ba_party" value="-999" onclick="popout_party_belonging()" /> Würde nicht wählen
<br>
<input id = "check_others" type="radio" name="ba_party" value="7" onclick="popout_party_belonging()" /> Sonstige Partei, bitte angeben:
    <input type="text" name="ba_party_else">
<br>
{{ formfield_errors 'ba_party' }}
<br>


<br>
<div class="mb-3 bg-light border pt-2 pb-2 px-2 " id ="party belonging" style=" display:none" >
    <fieldset>
        <div class="table">
            <table class="table"> <p><b>Wo würden Sie ,die Partei die Sie  am nächsten Sonntag wählen würden,auf dieser Skala einordnen,
                wenn 0 für links und 11 für rechts steht?*</b></p>
                <tbody>
                    <tr>
                        <th style="width: 8%">Links <br>0</th>
                        <th style="width: 8%"><br>1</th>
                        <th style="width: 8%"><br>2</th>
                        <th style="width: 8%"><br>3</th>
                        <th style="width: 8%"><br>4</th>
                        <th style="width: 8%"><br>5</th>
                        <th style="width: 8%"><br>6</th>
                        <th style="width: 8%"><br>7</th>
                        <th style="width: 8%"><br>8</th>
                        <th style="width: 8%"><br>9</th>
                        <th style="width: 8%"><br>10</th>
                        <th style="width: 8%">Rechts<br>11</th>
                        <th style="width: 8%">Würde nicht wählen</th>
                    </tr>
                    <tr>
                        <th><input class="persist" type="radio" name="ba_party_pos" value="0"></th>
                        <th><input class="persist" type="radio" name="ba_party_pos" value="1"></th>
                        <th><input class="persist" type="radio" name="ba_party_pos" value="2"></th>
                        <th><input class="persist" type="radio" name="ba_party_pos" value="3"></th>
                        <th><input class="persist" type="radio" name="ba_party_pos" value="4"></th>
                        <th><input class="persist" type="radio" name="ba_party_pos" value="5"></th>
                        <th><input class="persist" type="radio" name="ba_party_pos" value="6"></th>
                        <th><input class="persist" type="radio" name="ba_party_pos" value="7"></th>
                        <th><input class="persist" type="radio" name="ba_party_pos" value="8"></th>
                        <th><input class="persist" type="radio" name="ba_party_pos" value="9"></th>
                        <th><input class="persist" type="radio" name="ba_party_pos" value="10"></th>
                        <th><input class="persist" type="radio" name="ba_party_pos" value="11"></th>
                        <th><input class="persist" type="radio" name="ba_party_pos" value="-999"></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
</div>


<br>



<p><b>Im Folgenden stellen wir Ihnen ein paar Fragen zu Ihren politischen Präferenzen. Bitte geben Sie an,
    inwieweit Sie den folgenden Aussagen zustimmen:
</b></p>

<br>

<div class="mb-3 bg-light border pt-2 pb-2 px-2 ">
    <fieldset>
        <div class="table">
            <table class="table"> <p><b>Der Staat sollte bei der Anerkennung des Flüchtlingsstatus Allgemeinen strenger sein.*</b></p>
                <tbody>
                    <tr>
                        <th style="width: 12%">Stimme überhaupt nicht zu<br>0</th>
                        <th style="width: 12%"><br><br><br>1</th>
                        <th style="width: 12%"><br><br><br>2</th>
                        <th style="width: 12%"><br><br><br>3</th>
                        <th style="width: 12%"><br><br><br>4</th>
                        <th style="width: 12%"><br><br><br>5</th>
                        <th style="width: 12%"><br><br><br>6</th>
                        <th style="width: 12%"><br>Stimme voll und ganz zu<br>7</th>
                    </tr>
                    <tr>
                        <th><input class="persist" type="radio" name="ba_opinion1" value="0"></th>
                        <th><input class="persist" type="radio" name="ba_opinion1" value="1"></th>
                        <th><input class="persist" type="radio" name="ba_opinion1" value="2"></th>
                        <th><input class="persist" type="radio" name="ba_opinion1" value="3"></th>
                        <th><input class="persist" type="radio" name="ba_opinion1" value="4"></th>
                        <th><input class="persist" type="radio" name="ba_opinion1" value="5"></th>
                        <th><input class="persist" type="radio" name="ba_opinion1" value="6"></th>
                        <th><input class="persist" type="radio" name="ba_opinion1" value="7"></th>
                    </tr>
                </tbody>
            </table>
            <table class="table"> <p><b>Der Staat sollte soziale Medien stärker in Bezug auf diskriminierende Inhalte regulieren.*</b></p>
                <tbody>
                    <tr>
                        <th style="width: 12%">Stimme überhaupt nicht zu<br>0</th>
                        <th style="width: 12%"><br><br><br>1</th>
                        <th style="width: 12%"><br><br><br>2</th>
                        <th style="width: 12%"><br><br><br>3</th>
                        <th style="width: 12%"><br><br><br>4</th>
                        <th style="width: 12%"><br><br><br>5</th>
                        <th style="width: 12%"><br><br><br>6</th>
                        <th style="width: 12%"><br>Stimme voll und ganz zu<br>7</th>
                    </tr>
                    <tr>
                        <th><input class="persist" type="radio" name="ba_opinion2" value="0"></th>
                        <th><input class="persist" type="radio" name="ba_opinion2" value="1"></th>
                        <th><input class="persist" type="radio" name="ba_opinion2" value="2"></th>
                        <th><input class="persist" type="radio" name="ba_opinion2" value="3"></th>
                        <th><input class="persist" type="radio" name="ba_opinion2" value="4"></th>
                        <th><input class="persist" type="radio" name="ba_opinion2" value="5"></th>
                        <th><input class="persist" type="radio" name="ba_opinion2" value="6"></th>
                        <th><input class="persist" type="radio" name="ba_opinion2" value="7"></th>
                    </tr>
                </tbody>
            </table>
            <table class="table"> <p><b>Die Bundesregierung sollte zu gleichen Teilen aus Männern und Frauen bestehen.*</b></p>
                <tbody>
                    <tr>
                        <th style="width: 12%">Stimme überhaupt nicht zu<br>0</th>
                        <th style="width: 12%"><br><br><br>1</th>
                        <th style="width: 12%"><br><br><br>2</th>
                        <th style="width: 12%"><br><br><br>3</th>
                        <th style="width: 12%"><br><br><br>4</th>
                        <th style="width: 12%"><br><br><br>5</th>
                        <th style="width: 12%"><br><br><br>6</th>
                        <th style="width: 12%"><br>Stimme voll und ganz zu<br>7</th>
                    </tr>
                    <tr>
                        <th><input class="persist" type="radio" name="ba_opinion3" value="0"></th>
                        <th><input class="persist" type="radio" name="ba_opinion3" value="1"></th>
                        <th><input class="persist" type="radio" name="ba_opinion3" value="2"></th>
                        <th><input class="persist" type="radio" name="ba_opinion3" value="3"></th>
                        <th><input class="persist" type="radio" name="ba_opinion3" value="4"></th>
                        <th><input class="persist" type="radio" name="ba_opinion3" value="5"></th>
                        <th><input class="persist" type="radio" name="ba_opinion3" value="6"></th>
                        <th><input class="persist" type="radio" name="ba_opinion3" value="7"></th>
                    </tr>
                </tbody>
            </table>
            <table class="table"> <p><b>Werbung für Schwangerschaftsabbrüche sollte verboten bleiben.*</b></p>
                <tbody>
                    <tr>
                        <th style="width: 12%">Stimme überhaupt nicht zu<br>0</th>
                        <th style="width: 12%"><br><br><br>1</th>
                        <th style="width: 12%"><br><br><br>2</th>
                        <th style="width: 12%"><br><br><br>3</th>
                        <th style="width: 12%"><br><br><br>4</th>
                        <th style="width: 12%"><br><br><br>5</th>
                        <th style="width: 12%"><br><br><br>6</th>
                        <th style="width: 12%"><br>Stimme voll und ganz zu<br>7</th>
                    </tr>
                    <tr>
                        <th><input class="persist" type="radio" name="ba_opinion4" value="0"></th>
                        <th><input class="persist" type="radio" name="ba_opinion4" value="1"></th>
                        <th><input class="persist" type="radio" name="ba_opinion4" value="2"></th>
                        <th><input class="persist" type="radio" name="ba_opinion4" value="3"></th>
                        <th><input class="persist" type="radio" name="ba_opinion4" value="4"></th>
                        <th><input class="persist" type="radio" name="ba_opinion4" value="5"></th>
                        <th><input class="persist" type="radio" name="ba_opinion4" value="6"></th>
                        <th><input class="persist" type="radio" name="ba_opinion4" value="7"></th>
                    </tr>
                </tbody>
            </table>
            <table class="table"> <p><b>Die Regierung sollte Vermögen stärker besteuern und umverteilen.*</b></p>
                <tbody>
                    <tr>
                        <th style="width: 12%">Stimme überhaupt nicht zu<br>0</th>
                        <th style="width: 12%"><br><br><br>1</th>
                        <th style="width: 12%"><br><br><br>2</th>
                        <th style="width: 12%"><br><br><br>3</th>
                        <th style="width: 12%"><br><br><br>4</th>
                        <th style="width: 12%"><br><br><br>5</th>
                        <th style="width: 12%"><br><br><br>6</th>
                        <th style="width: 12%"><br>Stimme voll und ganz zu<br>7</th>
                    </tr>
                    <tr>
                        <th><input class="persist" type="radio" name="ba_opinion5" value="0"></th>
                        <th><input class="persist" type="radio" name="ba_opinion5" value="1"></th>
                        <th><input class="persist" type="radio" name="ba_opinion5" value="2"></th>
                        <th><input class="persist" type="radio" name="ba_opinion5" value="3"></th>
                        <th><input class="persist" type="radio" name="ba_opinion5" value="4"></th>
                        <th><input class="persist" type="radio" name="ba_opinion5" value="5"></th>
                        <th><input class="persist" type="radio" name="ba_opinion5" value="6"></th>
                        <th><input class="persist" type="radio" name="ba_opinion5" value="7"></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
</div>

<br>

<br>

    <p><b>Bitte geben Sie an, inwieweit die folgenden Merkmale Ihrer Einschätzung nach auf <b>FRAUEN</b> im Allgemeinen zutreffen:</b></p>

<br>

<div class="mb-3 bg-light border pt-2 pb-2 px-2 ">
    <fieldset>
        <div class="table">
            <table class="table">
                <tbody>
                    <tr>
                        <th style="width: 12%">Stimme überhaupt nicht zu<br>0</th>
                        <th style="width: 12%"><br><br><br>1</th>
                        <th style="width: 12%"><br><br><br>2</th>
                        <th style="width: 12%"><br><br><br>3</th>
                        <th style="width: 12%"><br><br><br>4</th>
                        <th style="width: 12%"><br><br><br>5</th>
                        <th style="width: 12%"><br><br><br>6</th>
                        <th style="width: 12%"><br>Stimme voll und ganz zu<br>7</th>
                    </tr>
                </tbody>
            </table>
            <table class="table"> <p><b><span style="color:red">FRAUEN</span></li>sind<em>selbstbewusst.</em></b></p>
                <tbody>
                    <tr>
                        <th><input class="persist" type="radio" name="ba_women1" value="0"></th>
                        <th><input class="persist" type="radio" name="ba_women1" value="1"></th>
                        <th><input class="persist" type="radio" name="ba_women1" value="2"></th>
                        <th><input class="persist" type="radio" name="ba_women1" value="3"></th>
                        <th><input class="persist" type="radio" name="ba_women1" value="4"></th>
                        <th><input class="persist" type="radio" name="ba_women1" value="5"></th>
                        <th><input class="persist" type="radio" name="ba_women1" value="6"></th>
                        <th><input class="persist" type="radio" name="ba_women1" value="7"></th>
                    </tr>
                </tbody>
            </table>
            <table class="table"> <p><b><span style="color:red">FRAUEN</span></li>sind<em>gesellig.</em></b></p>
                <tbody>
                    <tr>
                        <th><input class="persist" type="radio" name="ba_women2" value="0"></th>
                        <th><input class="persist" type="radio" name="ba_women2" value="1"></th>
                        <th><input class="persist" type="radio" name="ba_women2" value="2"></th>
                        <th><input class="persist" type="radio" name="ba_women2" value="3"></th>
                        <th><input class="persist" type="radio" name="ba_women2" value="4"></th>
                        <th><input class="persist" type="radio" name="ba_women2" value="5"></th>
                        <th><input class="persist" type="radio" name="ba_women2" value="6"></th>
                        <th><input class="persist" type="radio" name="ba_women2" value="7"></th>
                    </tr>
                </tbody>
            </table>
            <table class="table"> <p><b><span style="color:red">FRAUEN</span></li>sind<em>gesprächig.</em></b></p>
                <tbody>
                    <tr>
                        <th><input class="persist" type="radio" name="ba_women3" value="0"></th>
                        <th><input class="persist" type="radio" name="ba_women3" value="1"></th>
                        <th><input class="persist" type="radio" name="ba_women3" value="2"></th>
                        <th><input class="persist" type="radio" name="ba_women3" value="3"></th>
                        <th><input class="persist" type="radio" name="ba_women3" value="4"></th>
                        <th><input class="persist" type="radio" name="ba_women3" value="5"></th>
                        <th><input class="persist" type="radio" name="ba_women3" value="6"></th>
                        <th><input class="persist" type="radio" name="ba_women3" value="7"></th>
                    </tr>
                </tbody>
            </table>
            <table class="table"> <p><b><span style="color:red">FRAUEN</span></li>sind<em>leistungsorientiert.</em></b></p>
                <tbody>
                    <tr>
                        <th><input class="persist" type="radio" name="ba_women4" value="0"></th>
                        <th><input class="persist" type="radio" name="ba_women4" value="1"></th>
                        <th><input class="persist" type="radio" name="ba_women4" value="2"></th>
                        <th><input class="persist" type="radio" name="ba_women4" value="3"></th>
                        <th><input class="persist" type="radio" name="ba_women4" value="4"></th>
                        <th><input class="persist" type="radio" name="ba_women4" value="5"></th>
                        <th><input class="persist" type="radio" name="ba_women4" value="6"></th>
                        <th><input class="persist" type="radio" name="ba_women4" value="7"></th>
                    </tr>
                </tbody>
            </table>
            <table class="table"> <p><b><span style="color:red">FRAUEN</span></li>sind<em>durchsetzungsfähig.</em></b></p>
                <tbody>
                    <tr>
                        <th><input class="persist" type="radio" name="ba_women5" value="0"></th>
                        <th><input class="persist" type="radio" name="ba_women5" value="1"></th>
                        <th><input class="persist" type="radio" name="ba_women5" value="2"></th>
                        <th><input class="persist" type="radio" name="ba_women5" value="3"></th>
                        <th><input class="persist" type="radio" name="ba_women5" value="4"></th>
                        <th><input class="persist" type="radio" name="ba_women5" value="5"></th>
                        <th><input class="persist" type="radio" name="ba_women5" value="6"></th>
                        <th><input class="persist" type="radio" name="ba_women5" value="7"></th>
                    </tr>
                </tbody>
            </table>
            <table class="table"> <p><b><span style="color:red">FRAUEN</span></li>sind<em>politisch.</em></b></p>
                <tbody>
                    <tr>
                        <th><input class="persist" type="radio" name="ba_women6" value="0"></th>
                        <th><input class="persist" type="radio" name="ba_women6" value="1"></th>
                        <th><input class="persist" type="radio" name="ba_women6" value="2"></th>
                        <th><input class="persist" type="radio" name="ba_women6" value="3"></th>
                        <th><input class="persist" type="radio" name="ba_women6" value="4"></th>
                        <th><input class="persist" type="radio" name="ba_women6" value="5"></th>
                        <th><input class="persist" type="radio" name="ba_women6" value="6"></th>
                        <th><input class="persist" type="radio" name="ba_women6" value="7"></th>
                    </tr>
                </tbody>
            </table>
            <table class="table"> <p><b><span style="color:red">FRAUEN</span></li>sind<em>emotional.</em></b></p>
                <tbody>
                    <tr>
                        <th><input class="persist" type="radio" name="ba_women7" value="0"></th>
                        <th><input class="persist" type="radio" name="ba_women7" value="1"></th>
                        <th><input class="persist" type="radio" name="ba_women7" value="2"></th>
                        <th><input class="persist" type="radio" name="ba_women7" value="3"></th>
                        <th><input class="persist" type="radio" name="ba_women7" value="4"></th>
                        <th><input class="persist" type="radio" name="ba_women7" value="5"></th>
                        <th><input class="persist" type="radio" name="ba_women7" value="6"></th>
                        <th><input class="persist" type="radio" name="ba_women7" value="7"></th>
                    </tr>
                </tbody>
            </table>
            <table class="table"> <p><b><span style="color:red">FRAUEN</span></li>sind<em>hilfsbereit.</em></b></p>
                <tbody>
                    <tr>
                    <tr>
                        <th><input class="persist" type="radio" name="ba_women8" value="0"></th>
                        <th><input class="persist" type="radio" name="ba_women8" value="1"></th>
                        <th><input class="persist" type="radio" name="ba_women8" value="2"></th>
                        <th><input class="persist" type="radio" name="ba_women8" value="3"></th>
                        <th><input class="persist" type="radio" name="ba_women8" value="4"></th>
                        <th><input class="persist" type="radio" name="ba_women8" value="5"></th>
                        <th><input class="persist" type="radio" name="ba_women8" value="6"></th>
                        <th><input class="persist" type="radio" name="ba_women8" value="7"></th>
                    </tr>
                </tbody>
            </table>
            <table class="table"> <p><b><span style="color:red">FRAUEN</span></li>sind<em>logisch.</em></b></p>
                <tbody>
                    <tr>
                        <th><input class="persist" type="radio" name="ba_women9" value="0"></th>
                        <th><input class="persist" type="radio" name="ba_women9" value="1"></th>
                        <th><input class="persist" type="radio" name="ba_women9" value="2"></th>
                        <th><input class="persist" type="radio" name="ba_women9" value="3"></th>
                        <th><input class="persist" type="radio" name="ba_women9" value="4"></th>
                        <th><input class="persist" type="radio" name="ba_women9" value="5"></th>
                        <th><input class="persist" type="radio" name="ba_women9" value="6"></th>
                        <th><input class="persist" type="radio" name="ba_women9" value="7"></th>
                    </tr>
                </tbody>
            </table>
            <table class="table"> <p><b><span style="color:red">FRAUEN</span></li>sind<em>sympathisch.</em></b></p>
                <tbody>
                    <tr>
                        <th><input class="persist" type="radio" name="ba_women10" value="0"></th>
                        <th><input class="persist" type="radio" name="ba_women10" value="1"></th>
                        <th><input class="persist" type="radio" name="ba_women10" value="2"></th>
                        <th><input class="persist" type="radio" name="ba_women10" value="3"></th>
                        <th><input class="persist" type="radio" name="ba_women10" value="4"></th>
                        <th><input class="persist" type="radio" name="ba_women10" value="5"></th>
                        <th><input class="persist" type="radio" name="ba_women10" value="6"></th>
                        <th><input class="persist" type="radio" name="ba_women10" value="7"></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
</div>

<br>

<br>
    <p><b>Bitte geben Sie an, inwieweit die folgenden Merkmale Ihrer Einschätzung nach auf <b>MÄNNER</b> im Allgemeinen zutreffen:</b></p>

<br>

<div class="mb-3 bg-light border pt-2 pb-2 px-2 ">
    <fieldset>
        <div class="table">
            <table class="table">
                <tbody>
                    <tr>
                        <th style="width: 12%">Stimme überhaupt nicht zu<br>0</th>
                        <th style="width: 12%"><br><br><br>1</th>
                        <th style="width: 12%"><br><br><br>2</th>
                        <th style="width: 12%"><br><br><br>3</th>
                        <th style="width: 12%"><br><br><br>4</th>
                        <th style="width: 12%"><br><br><br>5</th>
                        <th style="width: 12%"><br><br><br>6</th>
                        <th style="width: 12%"><br>Stimme voll und ganz zu<br>7</th>
                    </tr>
                </tbody>
            </table>
            <table class="table"> <p><b><span style="color:red">MÄNNER</span></li>sind<em>selbstbewusst.</em></b></p>
                <tbody>
                    <tr>
                        <th><input class="persist" type="radio" name="ba_men1" value="0"></th>
                        <th><input class="persist" type="radio" name="ba_men1" value="1"></th>
                        <th><input class="persist" type="radio" name="ba_men1" value="2"></th>
                        <th><input class="persist" type="radio" name="ba_men1" value="3"></th>
                        <th><input class="persist" type="radio" name="ba_men1" value="4"></th>
                        <th><input class="persist" type="radio" name="ba_men1" value="5"></th>
                        <th><input class="persist" type="radio" name="ba_men1" value="6"></th>
                        <th><input class="persist" type="radio" name="ba_men1" value="7"></th>
                    </tr>
                </tbody>
            </table>
            <table class="table"> <p><b><span style="color:red">MÄNNER</span></li>sind<em>gesellig.</em></b></p>
                <tbody>
                    <tr>
                        <th><input class="persist" type="radio" name="ba_men2" value="0"></th>
                        <th><input class="persist" type="radio" name="ba_men2" value="1"></th>
                        <th><input class="persist" type="radio" name="ba_men2" value="2"></th>
                        <th><input class="persist" type="radio" name="ba_men2" value="3"></th>
                        <th><input class="persist" type="radio" name="ba_men2" value="4"></th>
                        <th><input class="persist" type="radio" name="ba_men2" value="5"></th>
                        <th><input class="persist" type="radio" name="ba_men2" value="6"></th>
                        <th><input class="persist" type="radio" name="ba_men2" value="7"></th>
                    </tr>
                </tbody>
            </table>
            <table class="table"> <p><b><span style="color:red">MÄNNER</span></li>sind<em>gesprächig.</em></b></p>
                <tbody>
                    <tr>
                        <th><input class="persist" type="radio" name="ba_men3" value="0"></th>
                        <th><input class="persist" type="radio" name="ba_men3" value="1"></th>
                        <th><input class="persist" type="radio" name="ba_men3" value="2"></th>
                        <th><input class="persist" type="radio" name="ba_men3" value="3"></th>
                        <th><input class="persist" type="radio" name="ba_men3" value="4"></th>
                        <th><input class="persist" type="radio" name="ba_men3" value="5"></th>
                        <th><input class="persist" type="radio" name="ba_men3" value="6"></th>
                        <th><input class="persist" type="radio" name="ba_men3" value="7"></th>
                    </tr>
                </tbody>
            </table>
            <table class="table"> <p><b><span style="color:red">MÄNNER</span></li>sind<em>leistungsorientiert.</em></b></p>
                <tbody>
                    <tr>
                        <th><input class="persist" type="radio" name="ba_men4" value="0"></th>
                        <th><input class="persist" type="radio" name="ba_men4" value="1"></th>
                        <th><input class="persist" type="radio" name="ba_men4" value="2"></th>
                        <th><input class="persist" type="radio" name="ba_men4" value="3"></th>
                        <th><input class="persist" type="radio" name="ba_men4" value="4"></th>
                        <th><input class="persist" type="radio" name="ba_men4" value="5"></th>
                        <th><input class="persist" type="radio" name="ba_men4" value="6"></th>
                        <th><input class="persist" type="radio" name="ba_men4" value="7"></th>
                    </tr>
                </tbody>
            </table>
            <table class="table"> <p><b><span style="color:red">MÄNNER</span></li>sind<em>durchsetzungsfähig.</em></b></p>
                <tbody>
                    <tr>
                        <th><input class="persist" type="radio" name="ba_men5" value="0"></th>
                        <th><input class="persist" type="radio" name="ba_men5" value="1"></th>
                        <th><input class="persist" type="radio" name="ba_men5" value="2"></th>
                        <th><input class="persist" type="radio" name="ba_men5" value="3"></th>
                        <th><input class="persist" type="radio" name="ba_men5" value="4"></th>
                        <th><input class="persist" type="radio" name="ba_men5" value="5"></th>
                        <th><input class="persist" type="radio" name="ba_men5" value="6"></th>
                        <th><input class="persist" type="radio" name="ba_men5" value="7"></th>
                    </tr>
                </tbody>
            </table>
            <table class="table"> <p><b><span style="color:red">MÄNNER</span></li>sind<em>politisch.</em></b></p>
                <tbody>
                    <tr>
                        <th><input class="persist" type="radio" name="ba_men6" value="0"></th>
                        <th><input class="persist" type="radio" name="ba_men6" value="1"></th>
                        <th><input class="persist" type="radio" name="ba_men6" value="2"></th>
                        <th><input class="persist" type="radio" name="ba_men6" value="3"></th>
                        <th><input class="persist" type="radio" name="ba_men6" value="4"></th>
                        <th><input class="persist" type="radio" name="ba_men6" value="5"></th>
                        <th><input class="persist" type="radio" name="ba_men6" value="6"></th>
                        <th><input class="persist" type="radio" name="ba_men6" value="7"></th>
                    </tr>
                </tbody>
            </table>
            <table class="table"> <p><b><span style="color:red">MÄNNER</span></li>sind<em>emotional.</em></b></p>
                <tbody>
                    <tr>
                        <th><input class="persist" type="radio" name="ba_men7" value="0"></th>
                        <th><input class="persist" type="radio" name="ba_men7" value="1"></th>
                        <th><input class="persist" type="radio" name="ba_men7" value="2"></th>
                        <th><input class="persist" type="radio" name="ba_men7" value="3"></th>
                        <th><input class="persist" type="radio" name="ba_men7" value="4"></th>
                        <th><input class="persist" type="radio" name="ba_men7" value="5"></th>
                        <th><input class="persist" type="radio" name="ba_men7" value="6"></th>
                        <th><input class="persist" type="radio" name="ba_men7" value="7"></th>
                    </tr>
                </tbody>
            </table>
            <table class="table"> <p><b><span style="color:red">MÄNNER</span></li>sind<em>hilfsbereit.</em></b></p>
                <tbody>
                    <tr>
                    <tr>
                        <th><input class="persist" type="radio" name="ba_men8" value="0"></th>
                        <th><input class="persist" type="radio" name="ba_men8" value="1"></th>
                        <th><input class="persist" type="radio" name="ba_men8" value="2"></th>
                        <th><input class="persist" type="radio" name="ba_men8" value="3"></th>
                        <th><input class="persist" type="radio" name="ba_men8" value="4"></th>
                        <th><input class="persist" type="radio" name="ba_men8" value="5"></th>
                        <th><input class="persist" type="radio" name="ba_men8" value="6"></th>
                        <th><input class="persist" type="radio" name="ba_men8" value="7"></th>
                    </tr>
                </tbody>
            </table>
            <table class="table"> <p><b><span style="color:red">MÄNNER</span></li>sind<em>logisch.</em></b></p>
                <tbody>
                    <tr>
                        <th><input class="persist" type="radio" name="ba_men9" value="0"></th>
                        <th><input class="persist" type="radio" name="ba_men9" value="1"></th>
                        <th><input class="persist" type="radio" name="ba_men9" value="2"></th>
                        <th><input class="persist" type="radio" name="ba_men9" value="3"></th>
                        <th><input class="persist" type="radio" name="ba_men9" value="4"></th>
                        <th><input class="persist" type="radio" name="ba_men9" value="5"></th>
                        <th><input class="persist" type="radio" name="ba_men9" value="6"></th>
                        <th><input class="persist" type="radio" name="ba_men9" value="7"></th>
                    </tr>
                </tbody>
            </table>
            <table class="table"> <p><b><span style="color:red">MÄNNER</span></li>sind<em>sympathisch.</em></b></p>
                <tbody>
                    <tr>
                        <th><input class="persist" type="radio" name="ba_men10" value="0"></th>
                        <th><input class="persist" type="radio" name="ba_men10" value="1"></th>
                        <th><input class="persist" type="radio" name="ba_men10" value="2"></th>
                        <th><input class="persist" type="radio" name="ba_men10" value="3"></th>
                        <th><input class="persist" type="radio" name="ba_men10" value="4"></th>
                        <th><input class="persist" type="radio" name="ba_men10" value="5"></th>
                        <th><input class="persist" type="radio" name="ba_men10" value="6"></th>
                        <th><input class="persist" type="radio" name="ba_men10" value="7"></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
</div>

<br>
{{formfield_errors 'ba_women1' }}
{{formfield_errors 'ba_women2' }}
{{formfield_errors 'ba_women3' }}
{{formfield_errors 'ba_women4' }}
{{formfield_errors 'ba_women5' }}
{{formfield_errors 'ba_women6' }}
{{formfield_errors 'ba_women7' }}
{{formfield_errors 'ba_women8' }}
{{formfield_errors 'ba_women9' }}
{{formfield_errors 'ba_women10' }}

{{formfield_errors 'ba_men1' }}
{{formfield_errors 'ba_men2' }}
{{formfield_errors 'ba_men3' }}
{{formfield_errors 'ba_men4' }}
{{formfield_errors 'ba_men5' }}
{{formfield_errors 'ba_men6' }}
{{formfield_errors 'ba_men7' }}
{{formfield_errors 'ba_men8' }}
{{formfield_errors 'ba_men9' }}
{{formfield_errors 'ba_men10' }}


<button class="otree-btn-next btn btn-primary next-button otree-next-button">
    Weiter
</button>

{% endblock %}
