{% extends "global/Page.html" %}
{% load otree static %}


{% block title %}
{% endblock %}

{% block content %}
<br>
<h2> Studie zu politischen Einstellungen und Überzeugungen rund um eine fiktive Bürgermeister:innenwahl
 </h2>
    <hr>
    WILLKOMMEN - Wir laden Sie herzlich ein, sich an dieser Umfrage zu beteiligen,
    die sich mit politischen Einstellungen und Überzeugungen rund um eine fiktive Bürgermeister:innenwahl befasst.

<br>

    Die Umfrage wird etwa 4-6 Minuten in Anspruch nehmen.

    Die Teilnahme an dieser Umfrage ist selbstverständlich freiwillig. Wir speichern keine IP-Adressen.
    Sie können die Befragung jederzeit abbrechen und müssen keine Antwort geben, wenn Sie dies nicht möchten.
    Dennoch möchten wir Sie bitten, die Umfrage möglichst bis zum Ende und wahrheitsgemäß auszufüllen.
    Die Ergebnisse der Umfrage werden ausschließlich für wissenschaftliche Zwecke verwendet und werden nur in
    aggregierter Form verarbeitet.

    <br>
    <br>

    Mit Ihrer Teilnahme stimmen Sie der beschriebenen Datenverarbeitung zu. Hier finden Sie die
    Datenschutzinformationen nach Art. 13 DSGVO.

    <br>
    <br>

    Wenn Sie Rückfragen haben oder weitere Informationen wünschen,
    helfen wir Ihnen unter XY@uni-konstanz.de gerne weiter.
    Vielen Dank für Ihre Teilnahme!


<br>
<br>

   <button class="otree-btn-next btn btn-primary next-button otree-next-button">
    Weiter
</button>

{% endblock %}
