{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block scripts %}
<script>
    window.onload = function () {
    
        //import variables 
        var screenout = {{ screenout }}; //screenout boolean
        var quota= {{ quota }}; //quota boolean
        var label = {{ participant_label }}; //tic number
    
        //build urls 
        var url_screenout = "https://survey.maximiles.com/screenout?p=89808_546de779&m=%" + label;
        //c_002 = 0
        //var url_screenout = "https://mingle.respondi.com/s/1470624/ospe.php3?c_0002=0&return_tic=" + label;
    
        var url_quota = "https://survey.maximiles.com/quotasfull?p=89808_d7bfcc1a&m=" + label; 
        //c_002 = 2
        //var url_quota = "https://mingle.respondi.com/s/1470624/ospe.php3?c_0002=2&return_tic=" + label;
        if (screenout==1) {window.location.replace(url_screenout);}
        if (quota==1) {window.location.replace(url_quota);}
        
    }
    </script>

{% endblock %}

{% block content %}
<div class="mb-3 bg-light border pt-2 pb-2 px-2 ">
<br>
Auf den nächsten Seiten stellen wir Ihnen Fragen zu politischen Einstellungen rund um eine hypothetische Bürgermeister*innenwahl.
<br>
Sie können durch den 'Weiter'-Button beginnen.
<br>
<br>
</div>

   <button class="otree-btn-next btn btn-primary next-button otree-next-button">
    Weiter
</button>
{% endblock %}