{% extends "global/GlobalTimeStemp.html" %}
{% load otree static %}


{% block title %}
{% endblock %}


{% block script %}
    <script>
    function shuffle(a) {
    var j, x, i;
    for (i = a.length - 1; i > 0; i--) {
        j = Math.floor(Math.random() * (i + 1));

        x = a[i];
        a[i] = a[j];
        a[j] = x;
    }
    return a;
}

     const lst = ["eine ausdrucksstarke Person",
        "eine Person mit außergewöhnlichen rednerischen Fähigkeiten",
        "eine Person, die großen Einfluss auf andere Menschen hat",
        "eine Person, die inspiriert",
        "eine zuverlässige und glaubwürdige Person",
        "eine ehrliche Person",
        "eine attraktive Person",
        "eine charmante Person",
        "eine Person mit positiver Energie",
        "eine Person mit einer Vision",
        "eine dominante Person",
        "eine Person, die Macht ausstrahlt"
     ]

     const shuffled_lst = shuffle(lst)

    Storage.prototype.setObj = function(key, obj) {
        return this.setItem(key, JSON.stringify(obj))
    }


    localStorage.setObj("Items", shuffled_lst);

    </script>

{% endblock %}

{% block content %}
<input id="time_popout" type="hidden" name="ch_time_check_rede" />
<br>
<p style="text-align:right;"><b>*Pflichtfeld</b></p>
<script>
function popout_other_reasons() {
        //for the openfield to indicate with how many friends you went to the demonstration
        var otherReasons = document.getElementById("check_other_reason");

        //other answer options
        var giveReason = document.getElementById("other_reasons_clicked");

        if (otherReasons.checked == true) {
            console.log("isclikec");
            giveReason.style.display = "block";
        }
        if (otherReasons.checked == false) {
            giveReason.style.display = "none";
        }
    }



</script>

<div class="mb-3 bg-light border pt-2 pb-2 px-2">
    <p><b>Um welches Thema ging es in der vorherigen Rede? *</b></p>
    <div><input id="check_klima" type="radio" name="ch_check_question" value="1" onclick="popout_other_reasons()" /> Die Auswirkung des Klimawandels </div>
    <div><input id="check_digital" type="radio" name="ch_check_question" value="2" onclick="popout_other_reasons()"/> Die Veränderung des Arbeitslebens durch Digitalisierung</div>
    <div><input id="check_Kinder" type="radio" name="ch_check_question" value="3" onclick="popout_other_reasons()" /> Kinderbetreuung im Vorschulalter</div>
    <div><input id="check_problem" type="radio" name="ch_check_question" value="4" onclick="popout_other_reasons()" /> Ich hatte technische Probleme und konnte die Rede deswegen nicht anhören</div>
    <div><input id="check_other_reason" type="radio" name="ch_check_question" value="5" onclick="popout_other_reasons()" /> Ich habe die Rede aus einem anderen Grund nicht angehört</div>
    <div id="other_reasons_clicked"  style="display: none">
        <br>
    <b>Bitte nennen Sie den Grund
        {% formfield player.reasonDescription %}
    </b>
    </div>
    <br>
</div>
{{ formfield_errors 'ch_check_question' }}



<br>
<button class="otree-btn-next btn btn-primary next-button otree-next-button">
    Weiter
</button>


{% endblock %}
