{% extends "global/Page.html" %}
{% load otree static %}


{% block title %}
{% endblock %}

{% block content %}
<br>

    <div class="mb-3 bg-light border pt-2 pb-2 px-2">
    Nachfolgend sehen Sie ein Bild und erhalten eine Audioaufnahme. Bitte schalten Sie den Ton an Ihrem Gerät an oder halten Sie Kopfhörer bereit.
    Um die Audiodatei anhören zu können, klicken Sie auf den "Play"-Knopf unterhalb des Bildes. Hören Sie sich die Audioaufnahme sorgfältig an.
    Der "Weiter"-Knopf kann erst nach 30 Sekunden gedrückt werden.
    <br>

    </div>
<br>

<script>
localStorage.clear() // clear local storage such that correct image can be shown
// console.log("is cleared")
</script>
<button class="otree-btn-next btn btn-primary next-button otree-next-button">
    Weiter
</button>


{% endblock %}
