{% extends "global/GlobalTimeStemp.html" %}
{% load otree static %}


{% block title %}

{% endblock %}


{% block content %}

<input id="time_popout" type="hidden" name="ch_time_survey_charisma2" />
    <!--measures when entering the page, maybe a way to check whether they actually listened to the speech-->
<br>

<div id="script_div" class="mb-3 bg-light border pt-2 pb-2 px-2 ">

    <p>Bitte geben Sie an, wie sehr Sie folgenden Aussagen zustimmen.</p>
<br>
    </div>
<script type = "text/javascript" src="{% static 'audio/table_function.js' %}"></script>
<script>tableCreate(6,11)</script>


<button class="otree-btn-next btn btn-primary next-button otree-next-button">
    Weiter
</button>

{% endblock %}
