{% extends "global/Page.html" %}
{% load otree static %}


{% block title %}
{% endblock %}

{% block content %}

<hr>

<br>
<b>Haben Sie schon einmal...</b>
<br>
<br>
<p>...an einer <b>genehmigten</b> Demonstration teilgenommen?</p>
<input type="radio" name="demonstration_participation_allowed" value="1" /> Ja
<br>
<input type="radio" name="demonstration_participation_allowed" value="2" /> Nein
<br>
<input type="radio" name="demonstration_participation_allowed" value="-999" /> Weiß nicht
<br>

<br>
<p>... an einer <b>nicht genehmigten</b> Demonstration teilgenommen?</b></p>
<input type="radio" name="demonstration_participation_notallowed" value="1" /> Ja
<br>
<input type="radio" name="demonstration_participation_notallowed" value="2" /> Nein
<br>
<input type="radio" name="demonstration_participation_notallowed" value="-999" /> Weiß nicht
<br>

<br>
<p>...an einer <b>Online-Protestaktion</b> oder <b>Online-Demonstration</b> teilgenommen?</b></p>
<input type="radio" name="demonstration_participation_online" value="1" /> Ja
<br>
<input type="radio" name="demonstration_participation_online" value="2" /> Nein
<br>
<input type="radio" name="demonstration_participation_online" value="-999" /> Weiß nicht
<br>

<br>
<p>...<b>auf Instagram, Facebook, Twitter</b> oder <b>in anderen sozialen Netzwerken</b>
    Ihre Meinung zu politischen Themen geäußert?</b></p>
<input type="radio" name="social_media" value="1" /> Ja
<br>
<input type="radio" name="social_media" value="2" /> Nein
<br>
<input type="radio" name="social_media" value="-999" /> Weiß nicht
<br>

<br>
<br>

<button class="otree-btn-next btn btn-primary next-button otree-next-button">
    Weiter
</button>

{% endblock %}
