{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
<script src="{% static 'persist-raw.js' %}"></script>
<script>
    var time = new Date();
    var time = time.toISOString();
    document.getElementById('time').value = time;
</script>
{% endblock %}

{% block content %}
<!-- timestamp -->
<input id="time" type="hidden" name="time_quotapage" />
<!-- style pflichtfelder hinweis -->
<p style="text-align:right;"><b>*Pflichtfelder</b></p>

<!-- gender-->
<div class="mb-3 bg-light border pt-2 pb-2 px-2 ">
<p><b>Was ist ihr Geschlecht?*</b></p>
<input  class="persist" type="radio" name="gender"  value="1"/> Männlich
<br>
<input  class="persist" type="radio" name="gender"  value="2"/> Weiblich
<br>
<input  class="persist" type="radio" name="gender"  value="3"/> Divers
<br>
<input  class="persist" type="radio" name="gender"  value="4"/> Möchte ich nicht sagen
<br>
<input  class="persist" type="radio" name="gender"  value="-999"/> Keine Angabe
{{formfield_errors 'gender' }}
</div>
<br>
<!-- age-->
<div class="mb-3 bg-light border pt-2 pb-2 px-2 ">
<p><b>In welchem Jahr sind Sie geboren? Bitte geben Sie Ihr Geburtsjahr an*</b></p>
<input class="persist" type="text" id="age" name="age">
{{formfield_errors 'age' }}
</div>
<br> 
<!-- federalstate -->
<div class="mb-3 bg-light border pt-2 pb-2 px-2 ">
<p><b>In welchem Bundesland wohnen Sie momentan?*</b></p> 
<input class="persist" type="radio" name="federalstate" value="1"/> Schleswig-Holstein
<br>
<input class="persist" type="radio" name="federalstate" value="2"/> Hamburg
<br>
<input class="persist" type="radio" name="federalstate" value="3"/> Niedersachsen
<br>
<input class="persist" type="radio" name="federalstate" value="4"/> Bremen
<br>
<input class="persist" type="radio" name="federalstate" value="5"/> Nordrhein-Westfalen
<br>
<input class="persist" type="radio" name="federalstate" value="6"/> Hessen
<br>
<input class="persist" type="radio" name="federalstate" value="7"/> Rheinland-Pfalz
<br>
<input class="persist" type="radio" name="federalstate" value="8"/> Baden-Württemberg
<br>
<input class="persist" type="radio" name="federalstate" value="9"/> Bayern
<br>
<input class="persist" type="radio" name="federalstate" value="10"/> Saarland
<br>
<input class="persist" type="radio" name="federalstate" value="11"/> Berlin
<br>
<input class="persist" type="radio" name="federalstate" value="12"/> Brandenburg
<br>
<input class="persist" type="radio" name="federalstate" value="13"/> Mecklenburg-Vorpommern
<br>
<input class="persist" type="radio" name="federalstate" value="14"/> Sachsen
<br>
<input class="persist" type="radio" name="federalstate" value="15"/> Sachsen-Anhalt
<br>
<input class="persist" type="radio" name="federalstate" value="16"/> Thüringen
<br>
<input type="radio" name="federalstate" value="-888"/> weiß nicht
{{formfield_errors 'federalstate' }}
</div>
<br> 
<button class="otree-btn-next btn btn-primary next-button otree-next-button">
    Weiter
</button>
{% endblock %}