{% extends "global/Page.html" %}
{% load otree static %}


{% block title %}
Studie zu sozialen Bewegungen
{% endblock %}

{% block scripts %}
<script>
    var time = new Date();
    var time = time.toISOString();
    document.getElementById('time').value = time;
</script>
{% endblock %}


{% block content %}
<input id="time" type="hidden" name="sm_time_endpage" />
<br>
<div class="mb-3 bg-light border pt-2 pb-2 px-2 ">
Vielen Dank für ihre Teilnahme an diesem Teil der Studie. <br>
Bitte klicken Sie auf 'Weiter' um zum nächsten Teil der Studie zu gelangen. 
<br>
</div>

<button class="otree-btn-next btn btn-primary next-button otree-next-button">
    Weiter
</button>

{% endblock %}