{% extends "global/Page.html" %}
{% load otree static %}


{% block title %}
Studie zu sozialen Bewegungen: <br>
Teilnahmewarscheinlichkeit
{% endblock %}

{% block styles %}
<style>
table { border-collapse: collapse; }
/* we are using a line to separate the answer options from "I dont't know" */
.line {border-right:  solid 1px rgb(220,220,220);}
/* die option um es nur zu centern, dann ist es aber größer mit scrollen */
.center {
  display: block;
  width: 900px; 
  height: auto; 
  margin-left: auto;
  margin-right: auto;
}

/* die beiden Optionen um es anzupassen automatisch */
.imgbox {
        display: grid;
        height: 100%;
}
.center-fit {
        max-width: 100%;
        max-height: 100vh;
        margin: auto;}

</style>
{% endblock %}

{% block scripts %}
<script src="{% static 'persist-raw.js' %}"></script>
<script>
//time
var time = new Date();
var time = time.toISOString();
document.getElementById('time').value = time;

// getting the group assignment and device type
sm_group_assignment = {{ sm_group_assignment }};
device_type = {{ device_type }};

// accesssing all the images for the different groups
// desktop pictures
picture_one_desktop = document.getElementById("picture_one_desktop");
picture_two_desktop = document.getElementById("picture_two_desktop");
picture_three_desktop = document.getElementById("picture_three_desktop");
// mobile pictures
picture_one_mobile = document.getElementById("picture_one_mobile");
picture_two_mobile = document.getElementById("picture_two_mobile");
picture_three_mobile = document.getElementById("picture_three_mobile");

// first group
    if (sm_group_assignment == 1) {
        if (device_type == 2){picture_one_mobile.removeAttribute('hidden')}
        else {picture_one_desktop.removeAttribute('hidden')}}; 
// second group
    if (sm_group_assignment == 2) {
        if (device_type == 2){picture_two_mobile.removeAttribute('hidden')}
        else {picture_two_desktop.removeAttribute('hidden')}}; 
// third group
    if (sm_group_assignment == 3) {
        if (device_type == 2){picture_three_mobile.removeAttribute('hidden')}
        else {picture_three_desktop.removeAttribute('hidden')}}; 
</script>
{% endblock %}

{% block content %}
{{ formfield_errors 'sm_participation' }}
<input id="time" type="hidden" name="sm_time_treatmentpage" />
<br>
<div class="imgbox">
    <!-- DESKTOP version of the pictures -->
    <img id="picture_one_desktop" class="center-fit" src="{% static 'images/one_desktop.png' %}" alt="Picture can not load" hidden>
    <img id="picture_two_desktop" class="center-fit" src="{% static 'images/two_desktop.png' %}" alt="Picture can not load" hidden> 
    <img id="picture_three_desktop" class="center-fit" src="{% static 'images/three_desktop.png' %}" alt="Picture can not load" hidden>
    <!-- MOBILE version of the pictures -->
    <img id="picture_one_mobile" class="center-fit" src="{% static 'images/one_mobile.png' %}" alt="Picture can not load" hidden>
    <img id="picture_two_mobile" class="center-fit" src="{% static 'images/two_mobile.png' %}" alt="Picture can not load" hidden> 
    <img id="picture_three_mobile" class="center-fit" src="{% static 'images/three_mobile.png' %}" alt="Picture can not load" hidden>  
</div>
<br>

<div class="mb-3 bg-light border pt-2 pb-2 px-2">
    Nehmen Sie sich bitte Zeit dieses Facebook-Event anzuschauen und zoomen Sie auch gerne bei Bedarf heran. Bei diesem Event geht um eine Demonstration für Demokratie.
    <br>
    <br>
    Auf den folgenden Seiten werden Ihnen dazu Fragen gestellt und es wird <b>keine</b> Möglichkeit geben zurückzugehen. 
    <br> 
</div>
<!-- table regarding if they would participate in the demonstration -->
<div class="mb-3 bg-light border pt-2 pb-2 px-2 ">
    <fieldset>
        <div class="table-responsive">
        <div class="table">
            <table class="table w-auto"> Mit welcher Wahrscheinlichkeit würden Sie an dieser Demonstration teilnehmen?
                <tr>
                    <th style="width: 16.67%">
                        <p class="mb-0"></p>Sehr <br> geringer </p>
                    </th>
                    <th style="width: 16.67%">
                        <p class="mb-0"></p>
                    </th>
                    <th style="width: 16.67%">
                        <p class="mb-0"></p>
                    </th>
                    <th style="width: 16.67%">
                        <p class="mb-0"></p>
                    </th>
                    <th style="width: 16.67%">
                        <p class="mb-0">Sehr <br> hoher</p>
                    </th>
                    <th style="width: 16.67%">
                        <p class="mb-0">Weiß nicht/ <br> Keine Angabe</p>
                    </th>
                </tr>
                <tbody>
                    <tr>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th class="line">5</th>
                    </tr>
                    <tr>
                        <th><input class="persist" type="radio" name="sm_participation" value="1"></th>
                        <th><input class="persist" type="radio" name="sm_participation" value="2"></th>
                        <th><input class="persist" type="radio" name="sm_participation" value="3"></th>
                        <th><input class="persist" type="radio" name="sm_participation" value="4"></th>
                        <th class="line"><input class="persist" type="radio" name="sm_participation" value="5"></th>
                        <th><input class="persist" type="radio" name="sm_participation" value="-888"></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </fieldset>
</div>
{{formfield_errors 'sm_participation' }}

<button class="otree-btn-next btn btn-primary next-button otree-next-button">
    Weiter
</button>

{% endblock %}